.footer {
  width: 100%;
  background: rgb(121, 238, 251);
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: 0 -4px 12px rgb(188, 248, 255);
  position: fixed;
  bottom: 0px;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.social-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
  font-size: 22px;
}

.social-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: white;
  transition: width 0.3s ease;
}

.social-links a:hover {
  color: #ffffff;
}

.social-links a:hover::after {
  width: 100%;
}

.footer p {
  color: #000000;
  font-size: 1rem;
  opacity: 0.7;
  letter-spacing: 0.04em;
}
